.alert-box {
    width: 100vw;
    height: 100vh;

    position: fixed;
    left: 0;
    top: 0;
    z-index: -999;
    display: flex;

    background: rgba(0, 0, 0, .3);
    opacity: 0;

    transition: .2s;

    .alert {
        min-width: 300px;

        margin: auto;
        transform: translateY(20px) scale(.7);
        
        background: #fff;
        border-radius: 1em;
        opacity: 0;

        transition: .2s;

        .alert-header {
            width: 100%;
            padding: 20px;

            display: flex;
            justify-content: space-between;
            align-items: center;

            .alert-title {
                font-weight: 800;
            }

        }
        .alert-content {
            width: 100%;
            padding: 20px;
        }
        .alert-buttons {
            display: flex;

            button {
                width: 100%;
                box-shadow: none !important;
                border-radius: .3em;

                &:first-child {
                    border-radius: 1em .3em .3em 1em;
                }
                &:last-child {
                    border-radius: .3em 1em 1em .3em;
                }

            }

        }

        hr {
            width: calc(100% - 40px);
            margin: 0 auto;
        }

    }

    &.active {
        opacity: 1;
        z-index: 999;

        .alert {
            opacity: 1;
            transform: translateY(0) scale(1);
        }

    }

}
.side-alert {
    min-width: 300px;

    position: fixed;
    right: 0;
    bottom: 0;
    margin: 20px;
    z-index: -999;
    display: flex;
    align-items: center;
    transform: translateX(50%);
    
    background: $grey;
    backdrop-filter: blur(10px);
    border-radius: 1em;
    opacity: 0;
    
    transition: .3s;
    
    .side-alert-content {
        width: 100%;
        padding: 15px 20px;
        
        display: flex;
        align-items: center;
    }
    .side-alert-buttons {
        padding: 15px;
        
        display: flex;
        align-items: center;
    }
    
    &[type=error] {
        background: $red-color-alpha;
        color: $red-color;
        font-weight: 800;
    }
    &[type=success] {
        background: $blue-color-alpha;
        color: $blue-color;
        font-weight: 800;
    }
    
    // Align
    &[horizontal=start] {
        left: 0;
        right: initial;
        flex-direction: row-reverse;
        transform: translate(-50%, 0);

        .side-alert-content {
            flex-direction: row-reverse;
        }

    }
    &[horizontal=center] {
        left: 50%;
        right: initial;
        transform: translate(-50%, 100%);
        
        &[vertical=top] {
            transform: translate(-50%, -100%);
        }

    }
    &[horizontal=end] {
        left: initial;
        right: 0;
        transform: translate(50%, 0);
    }

    &[vertical=top] {
        top: 0;
        bottom: initial;
    }
    &[vertical=center] {
        top: 50%;
        bottom: initial;
    }
    &[vertical=bottom] {
        top: initial;
        bottom: 0;
    }

    &.active {
        opacity: 1;
        transform: translate(0, 0);
        z-index: 999;
        
        &[horizontal=center] {
            transform: translateX(-50%);
        }

    }
    &:active {
        &[type=error] {
            box-shadow: 0 0 0 4px $red-color-alpha;
        }
        &[type=success] {
            box-shadow: 0 0 0 4px $blue-color-alpha;
        }
    }

}